body {
  background-color: rgb(0, 43, 54);
  margin: 0;
}

.wrapper {
  display: flex;
  padding: 1rem 0.5rem;
  font-size: 1rem;
}

pre {
  /* It doesn't line up so we have to remove some of the default margin on the page */
  margin: 0;
}

#code-display {
  padding-top: 0;
  padding-bottom: 0;
}

.line-numbers {
  color: rgb(125, 125, 125);
  font-family: monospace;
  text-align: end;
}

textarea {
  background-color: transparent;
  resize: none;
  width: 100%;
  padding: 0;
  margin-left: 1rem;
  color: rgb(125, 125, 125);
  min-height: calc(100vh - 2rem);
  border: none;
  outline: none;
}

.buttons-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0.15;

  background-color: rgb(0, 129, 162);
  padding: 1rem;
  transition: opacity 200ms ease-in-out;
}

.buttons-wrapper:hover {
  opacity: 1;
}

.logo {
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  width: 100%;
  display: inline-block;
}

.logo:hover {
  text-decoration: underline;
}

.buttons {
  display: flex;
  margin-top: 0.5rem;
  justify-content: center;
}

.buttons > * + * {
  /* Any direct child that has a sibling after it */
  margin-left: 0.25rem;
}

.btn {
  cursor: pointer;
  background: none;
  border: 1px solid rgb(0, 43, 54);
  color: rgb(0, 43, 54);
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
  display: inline-block;
  transition: background-color 200ms ease-in-out;
}
.btn:hover {
  background-color: rgb(131, 229, 255);
}
