body {
  background-color: rgb(0, 43, 54);
  margin: 0;
}

.wrapper {
  display: flex;
  padding: 1rem 0.5rem;
  font-size: 1rem;
}

pre {
  /* It doesn't line up so we have to remove some of the default margin on the page */
  margin: 0;
}

#code-display {
  padding-top: 0;
  padding-bottom: 0;
}

.line-numbers {
  color: rgb(125, 125, 125);
  font-family: monospace;
  text-align: end;
}

textarea {
  background-color: transparent;
  resize: none;
  width: 100%;
  padding: 0;
  margin-left: 1rem;
  color: rgb(125, 125, 125);
  min-height: calc(100vh - 2rem);
  border: none;
  outline: none;
}
